.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: scale-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);

    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.formDiv,
.previewDiv {
  width: 45%;
  height: 90%;
  border-radius: 10px;
  box-shadow: 1px 5px 10px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../../assets/SchoolPG-general-bg.jpg");
  position: relative;
}

.form,
.preview {
  width: 96%;
  height: 96%;
  background-color: var(--semi-white);
  border-radius: 10px;
}

.preview {
  overflow: auto;
}

.form {
  background-color: var(--semi-white);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
}

.formHtml {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  position: absolute;
  top: -40px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 90%;
  height: 4rem;
  background: var(---blue-gradient);
}

.welcome {
  font-size: large;
  font-weight: 600;
  padding-left: 2rem;
  color: var(--semi-white);
}

.inputsDiv {
  width: 90%;
  height: 85%;
  overflow: auto;
  border: 2px solid rgb(47, 44, 44);
  border-radius: 10px;
}

.inputC {
  display: flex;
}

.inputTag {
  width: 45%;
  margin: 1rem;
  height: 2.5rem;
  padding-left: 1rem;
  background-color: var(--semi-white);
  border-bottom: 2px solid var(--blue-palette-intensity5);
}
.inputTag::placeholder {
  color: rgb(29, 28, 28);
}
.inputTag:focus {
  border-bottom: 2px solid rgb(31, 134, 82);
}

.textareaC {
  margin-top: 2rem;
  padding-top: 2rem;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-around;
}

.textareaTag {
  width: 40%;
  background-color: var(--semi-white);
  border: 2px solid var(--blue-palette-intensity5);
  border-radius: 10px;
  overflow: auto;
  resize: none;
  padding: 1rem;
}
.textareaTag:focus {
  border: 2px solid rgb(31, 134, 82);
}

.butDiv {
  width: 100%;
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
}

.top {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgDiv {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  border-radius: 50%;
  border: 3px solid rgb(77, 77, 77);
}

.logo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.name {
  width: 80%;
  text-align: center;
  margin-top: 2rem;
  font-size: x-large;
  text-transform: capitalize;
  font-weight: 600;
}

.info {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.section {
  text-transform: capitalize;
  font-size: large;
  font-weight: 500;
}

.liTag {
  margin-top: 1rem;
}

.default {
  text-transform: capitalize;
  font-weight: 500;
  color: rgb(41, 39, 39);
}

.bottom {
  width: 100%;
  height: max-content;
  margin-top: 1rem;
}

.pTag {
  margin: 2rem 1rem 1rem 2rem;
}

@media (max-width: 1440px) {
  .main {
    position: relative;
    flex-direction: column;
    justify-content: center;
  }

  .formDiv {
    width: 80%;
    position: absolute;
    top: 50px;
  }
  .previewDiv {
    width: 80%;
    position: absolute;
    top: 110%;
  }

  .inputC {
    flex-direction: column;
    align-items: center;
  }
  .inputTag {
    width: 80%;
  }
  .textareaC {
    flex-direction: column;
    align-items: center;
    height: 24rem;
  }
  .textareaTag {
    width: 80%;
    height: 10rem;
    margin-bottom: 2rem;
  }
  .butDiv {
    margin: 1.5rem 0;
  }
}
