/* .container {
  width: 97%;
  height: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  -webkit-animation: scale-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
} */
/* 
@-webkit-keyframes scale-in-center {
  0% {
    transform: scale(0);

    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);

    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.submain {
  width: 100%;
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 1px 5px 10px gray;
} */
.titlebox {
  position: absolute;
  top: -30px;
  display: flex;
  align-items: center;
  width: 95%;
  height: 10%;
  background-image: var(---blue-gradient);
  border-radius: 10px;
  box-shadow: 0 3px 15px #3790ef8c;
}
.backbox {
  width: 150px;
  height: 50px;
  position: absolute;
  right: 3.5rem;
  top: 50%;
  transform: translate(0, -25%);
  /* font-size: x-large;
  font-weight: 700; */
}
.title {
  position: relative;
  padding-left: 3.5rem;
  font-size: x-large;
  font-weight: 700;
  color: var(--semi-white);
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 1px solid #999;
  border-radius: 5px;
  background: #fafafa;
  background-image: none;
  flex: 1;
  padding: 0 0.2em;
  color: #999;
  cursor: pointer;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  margin: 5px;
  color: rgb(85, 85, 85);
  width: 14em;
  height: 2em;
  line-height: 2;
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.7em;
  background: var(---blue-gradient);
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: var(--semi-white);
}

.btnList {
  display: flex;
  flex-direction: row;
}

.btn {
  display: flex;
  border: 1.5px solid rgb(255, 51, 51);
  margin-left: 10px;
  height: 24px;
  width: 24px;
  font-weight: 500;
  border-radius: 50%;
  color: rgb(255, 51, 51);
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.tables {
  height: 80px;
  border: 1px solid #999;
  border-radius: 10px;
  overflow-y: scroll;
}
/* 
.subjectsContainer,
.courseContainer {
  margin: 10px;
} */

.main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scale-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    transform: scale(0);

    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);

    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.titlebox {
  position: absolute;
  top: -40px;
  left: 15px;
  display: flex;
  align-items: center;
  width: 95%;
  height: 10%;
  background-image: var(---blue-gradient);
  border-radius: 10px;
  box-shadow: 0 3px 15px #3790ef8c;
}

.title {
  position: relative;
  padding-left: 3.5rem;
  font-size: x-large;
  font-weight: 700;
  color: var(--semi-white);
}
/* 
.submain {
   width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
} */

.title::before {
  content: "";
  position: absolute;
  left: 10px;
  background-image: url("../../../assets/add-user.png");
  background-position: center;
  background-size: cover;
  width: 35px;
  height: 35px;
}

.box3 {
  grid-area: box3;
  height: 150px;
  border: 1px solid #999;
  border-radius: 10px;
  overflow-y: scroll;
}
/* 
.selectSubjects {
  width: 45%;
  height: 50%;
  border-radius: 10px;
  box-shadow: 2px 5px 10px gray;
  background: url("../../../assets/SchoolPG-general-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.cont {
  width: 95%;
  height: 95%;
  border-radius: 10px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.file{
    display: block;
    font-size: 25px;
    
}
.list {
  border: 3px solid var(--blue-palette-intensity7);
  border-radius: 10px;
  width: 90%;
  height: 50%;
  overflow-y: auto;
}
.nameList {
  color: black;
  display: flex;
  align-items: center;
  height: 15%;
  text-transform: capitalize;
  padding: 1rem 1rem 1rem 3rem;
  cursor: pointer;
  z-index: 1;
}
.nameList:hover {
  background-color: rgba(153, 153, 153, 0.486);
}
.user {
  margin-right: 1rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.remove {
  width: 25px;
  height: 25px;
  margin-left: 1rem;
}

.list::-webkit-scrollbar-track,
.results::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(39, 35, 35, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.list::-webkit-scrollbar,
.results::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
  border-radius: 10px;
}
.list::-webkit-scrollbar-thumb,
.results::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(39, 35, 35, 0.3);
  background-color: #555;
}

.pname,
.ptel {
  width: 30%;
  text-align: center;
  margin-left: 4rem;
  text-transform: uppercase;
  color: #adadad;
}
.namepic {
  display: flex;
  align-items: center;
  width: 20%;
}

.profilepic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}