.container {
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  animation: scale-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);

    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.submain {
  width: 120%;
  height: 90%;
  position: relative;
  display: flex;
  top: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 1px 5px 10px gray;
}
.titlebox {
  position: absolute;
  top: -30px;
  display: flex;
  align-items: center;
  width: 95%;
  height: 10%;
  background-image: var(---blue-gradient);
  border-radius: 10px;
  box-shadow: 0 3px 15px #3790ef8c;
}
.title {
  position: relative;
  padding-left: 3.5rem;
  font-size: x-large;
  font-weight: 700;
  color: var(--semi-white);
}
.title::before {
  content: "";
  position: absolute;
  left: 10px;
  background-image: url("../../../assets/add-user.png");
  background-position: center;
  background-size: cover;
  width: 35px;
  height: 35px;
}

.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.box4 {
  grid-area: box4;
  justify-self: center;
}

.box5 {
  grid-area: box5;
}

.box6 {
  grid-area: box6;
}
.box7 {
  grid-area: box7;
}
.box8 {
  grid-area: box8;
  justify-self: center;
}
.box9 {
  grid-area: box9;
  height: 120px;
  border: 1px solid #999;
  border-radius: 10px;
  overflow-y: scroll;
}

.box10 {
  grid-area: box10;
  height: 120px;
  border: 1px solid #999;
  border-radius: 10px;
  overflow-y: scroll;
}
.box11 {
  grid-area: box11;
  margin: 0 auto;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.5fr 2fr 1fr;
  gap: 32px;
  grid-template-areas:
    "box1 box5 "
    "box2 box6 "
    "box3 box7 "
    "box4 box8 "
    "box9 box10"
    "box11 box11";
}
.btnList {
  display: flex;
  flex-direction: row;
}

.btn {
  padding: 3px;
  border: 3px solid rgb(255, 55, 55);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: rgb(255, 51, 51);
}
.li {
  font-family: "Poppins";
  color: #999;
  padding: 5px;
}
