.container {
  height: 32px;
  width: 100%;
  padding: 16px 0;
  background-color: var(--theme-page-background);
}
.btn {
  background-color: var(--theme-page-background);
  color: var(--theme-page-text);
}
.header {
  height: 100vh;
  width: 100vw;
  padding: 16px 0;
  background-color: var(--theme-color);
  display: flex;
}
.select {
  color: var(--theme-selected-option);
}
