@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 98%;
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */ /* Firefox < 16 */ /* Internet Explorer */ /* Opera < 12.1 */
  animation: fadein 1.5s;
  /* -webkit-animation: scale-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; */
}
.calendarContainer {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background: #fafafa;
  box-shadow: 1px 5px 10px rgba(128, 128, 128, 0.445);
  width: 60%;
  display: flex;
  justify-content: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.users,
.students,
.teachers,
.tutors {
  position: relative;
  width: 23%;
  height: 8rem;
  border-radius: 10px;
  background: #fafafa;
  box-shadow: 0 5px 10px rgba(128, 128, 128, 0.445);
}

.users::before,
.students::before,
.teachers::before,
.tutors::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 20px;
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.445);
  background: var(--red-palette-intensity5) url("../../../assets/teacher.png");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.users::before {
  background: rgb(37, 34, 34) url("../../../assets/stats.png");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.students::before {
  background: var(--blue-palette-intensity4) url("../../../assets/student.png");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.tutors::before {
  background: #4fa953 url("../../../assets/users.png");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.statname,
.statnum {
  width: 90%;
  text-align: end;
  padding: 1rem 1rem 0;
  text-transform: capitalize;
  font-size: large;
  font-weight: 600;
  color: #6e737a;
}

.statnum {
  color: #45474b;
  font-size: xx-large;
}

.loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40rem;
}

@media (min-width: 510px) {
  .info {
    width: 99%;
    flex-direction: column;
    align-items: center;
  }
  .users,
  .students,
  .teachers,
  .tutors {
    width: 100%;
    margin: 1rem 0;
  }
}
@media (min-width: 1080px) {
  .info {
    width: 99%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .users,
  .students,
  .teachers,
  .tutors {
    width: 48%;
    margin: 1rem 0;
  }
}

@media (min-width: 1600px) {
  .info {
    width: 99%;
  }
  .users,
  .students,
  .teachers,
  .tutors {
    width: 23%;
    margin: 1rem 0;
  }
}

.courses {
  width: 98%;
  height: max-content;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 1px 5px 10px rgba(128, 128, 128, 0.445);
  margin-top: 4rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: var(---blue-gradient);
  box-shadow: 1px 5px 10px rgba(128, 128, 128, 0.445);
  border-radius: 10px;
  top: -30px;
  width: 95%;
  height: 5rem;
}

.title {
  position: absolute;
  left: 10px;
  color: var(--semi-white);
  font-size: x-large;
  font-weight: 600;
  text-transform: capitalize;
}

.search {
  position: absolute;
  text-align: center;
  right: 20px;
  width: 15rem;
  height: 2.5rem;
  border-radius: 10px;
  background-color: var(--semi-white);
}

.tables,
.tablesNonScroll {
  width: 100%;
  height: 32rem;
  padding: 1rem;
  overflow-y: auto;
  position: relative;
}

.tablesNonScroll {
  overflow-y: hidden;
}

.tables::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(39, 35, 35, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.tables::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
.tables::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(39, 35, 35, 0.3);
  background-color: #555;
}

.information {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #adadad;
}

.pname,
.pemail,
.ptel {
  text-align: center;
  width: 33%;
  margin-right: 2.5rem;
  margin-left: 1rem;
  text-transform: uppercase;
  color: #adadad;
}

.course {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #adadad;
}

.namepic {
  display: flex;
  align-items: center;
  width: 30%;
  margin-left: 2rem;
}

.name {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-weight: 400;
  margin-left: 0.5rem;
  cursor: pointer;
}

.actions {
  width: 33%;
  display: flex;
  justify-content: center;
}

.userInfo {
  margin: 0.5rem;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.shifts {
  width: 33%;
  text-align: center;
}

.coursePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navLink {
  color: black;
}

.apiContainer {
  margin: 2rem 1rem 1rem 2rem;
  border-radius: 10px;
  background: #222831;
  box-shadow: 1px 5px 10px rgba(128, 128, 128, 0.445);
  width: 30%;
  display: flex;
  align-items: center;
  height: 675px;
}

.clearSky,
.clearSkyNight,
.clearSkyNight2,
.clearSkyNight3,
.fewClouds,
.fewCloudsNight,
.scatteredClouds,
.scatteredCloudsNight,
.brokenClouds,
.brokenCloudsNight,
.showerRain,
.showerRainNight,
.rain,
.rainNight,
.thunderstorm,
.thunderstormNight,
.snow,
.snowNight .mist,
.mistNight {
  width: 100%;
  height: 103%;
  border-radius: 20px;
  background: url("../../../assets/weatherBg/clearSky.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.clearSkyNight {
  background: url("../../../assets/weatherBg/clearSkyNight.jpg");
  background-position: center;
  background-size: cover;
}
.clearSkyNight2 {
  background: url("../../../assets/weatherBg/clearSkyNight2.jpg");
  background-position: center;
  background-size: cover;
}
.clearSkyNight3 {
  background: url("../../../assets/weatherBg/clearSkyNight3.jpg");
  background-position: center;
  background-size: cover;
}
.fewClouds {
  background: url("../../../assets/weatherBg/cloudy.jpg");
  background-position: center;
  background-size: cover;
}
.fewCloudsNight {
  background: url("../../../assets/weatherBg/cloudyNight.jpg");
  background-position: center;
  background-size: cover;
}
.scatteredClouds {
  background: url("../../../assets/weatherBg/cloudy.jpg");
  background-position: center;
  background-size: cover;
}
.scatteredCloudsNight {
  background: url("../../../assets/weatherBg/cloudyNight.jpg");
  background-position: center;
  background-size: cover;
}
.brokenClouds {
  background: url("../../../assets/weatherBg/cloudy.jpg");
  background-position: center;
  background-size: cover;
}
.brokenCloudsNight {
  background: url("../../../assets/weatherBg/cloudyNight.jpg");
  background-position: center;
  background-size: cover;
}
.showerRain {
  background: url("../../../assets/weatherBg/clearSky.jpg");
  background-position: center;
  background-size: cover;
}
.showerRainNight {
  background: url("../../../assets/weatherBg/clearSky.jpg");
  background-position: center;
  background-size: cover;
}
.rain {
  background: url("../../../assets/weatherBg/clearSky.jpg");
  background-position: center;
  background-size: cover;
}
.rainNight {
  background: url("../../../assets/weatherBg/clearSky.jpg");
  background-position: center;
  background-size: cover;
}
.thunderstorm {
  background: url("../../../assets/weatherBg/clearSky.jpg");
  background-position: center;
  background-size: cover;
}
.thunderstormNight {
  background: url("../../../assets/weatherBg/clearSky.jpg");
  background-position: center;
  background-size: cover;
}
.snow {
  background: url("../../../assets/weatherBg/snow.jpg");
  background-position: center;
  background-size: cover;
}
.snowNight {
  background: url("../../../assets/weatherBg/snow.jpg");
  background-position: center;
  background-size: cover;
}
.mist {
  background: url("../../../assets/weatherBg/clearSky.jpg");
  background-position: center;
  background-size: cover;
}
.mistNight {
  background: url("../../../assets/weatherBg/clearSky.jpg");
  background-position: center;
  background-size: cover;
}

.icon {
  width: 100px;
  height: 100px;
  margin-left: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.day {
  font-size: xx-large;
  text-transform: capitalize;
  color: #fafafa;
  font-weight: 600;
  margin: 1rem 0 0.5rem 1rem;
  text-shadow: 5px 5px 5px rgb(70, 67, 67);
}

.date,
.location,
.description {
  font-size: x-large;
  text-transform: capitalize;
  color: #fafafa;
  text-shadow: 5px 5px 5px rgb(70, 67, 67);
  font-weight: 600;
  margin: 0rem 1rem 0 1rem;
}

.date {
  margin-top: 2rem;
}

.temp {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 800;
  color: #fafafa;
  text-shadow: 5px 5px 5px rgb(70, 67, 67);
  margin-left: 1rem;
  position: absolute;
  bottom: 3rem;
}

.description {
  position: absolute;
  bottom: 1rem;
}

.right {
  width: 60%;

  height: 100%;
  border-radius: 10px;
  display: none;
}

.class,
.classOne {
  color: #fafafa;
  font-size: large;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0.5rem 2rem;
  position: relative;
}

.classOne {
  margin-top: 3rem;
}

.infoW {
  position: absolute;
  right: 0;
  font-weight: 500;
}

.afterDays {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont {
  width: 90%;
  height: 50%;
  background-color: #2e343dbe;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.cardW {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s;
  border-radius: 10px;
}

.afterT {
  color: #fafafa;
  margin-bottom: 1rem;
  font-weight: 600;
}

.afterI {
  margin-top: 1rem;
  width: 2.5rem;
}

.afterD {
  text-transform: capitalize;
  color: #fafafa;
  font-weight: 600;
}
.cardW:hover {
  background: var(---blue-gradient);
  border-radius: 10px;
  transform: scale(1.2);
}

@media (max-width: 2000px) {
  .time {
    flex-direction: column;
    align-items: center;
    height: max-content;
  }
  .calendarContainer {
    width: 95%;
  }
  .apiContainer {
    width: 95%;
    height: 512px;
    margin: 2rem 0 0 0;
  }
  .clearSky,
  .clearSkyNight,
  .clearSkyNight2,
  .clearSkyNight3,
  .fewClouds,
  .fewCloudsNight,
  .scatteredClouds,
  .scatteredCloudsNight,
  .brokenClouds,
  .brokenCloudsNight,
  .showerRain,
  .showerRainNight,
  .rain,
  .rainNight,
  .thunderstorm,
  .thunderstormNight,
  .snow,
  .snowNight .mist,
  .mistNight {
    width: 40%;
    height: 104%;
  }
  .right {
    display: inline;
  }
}
