.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--semi-white);
}

.content {
  width: 80%;
  height: 97%;
  margin: 0 1rem 0 20rem;
  border-radius: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1080px) {
  .content {
    margin: 0 1.7rem;
    width: 96%;
  }
}
