.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--semi-white);
}
.outlet {
  margin-left: 296px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
