.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submain {
  width: 80%;
  height: 80%;
}

.welcome {
  font-weight: 700;
}

.pgname {
  color: var(--blue-palette-intensity5);
  font-size: xx-large;
}

.termsandconditions {
  padding: 5rem;
}

.terms {
  font-size: xx-small;
  text-align: center;
  text-transform: uppercase;
}

.legal {
  font-weight: bold;
  cursor: pointer;
}
