.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submain {
  width: 80%;
  height: 80%;
}

.welcome {
  font-weight: 700;
}

.pgname {
  color: #4fabd2;
  font-size: xx-large;
}

.modernInput {
  width: 100%;
  margin-top: 3rem;
  border-bottom: 2px solid #4fabd2;
}

.termsandconditions {
  padding: 5rem;
}

.terms {
  font-size: xx-small;
  text-align: center;
  text-transform: uppercase;
}

.legal {
  font-weight: bold;
  cursor: pointer;
}

.componentBut {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logbut {
  width: 80%;
  height: 2rem;
  color: #f1f1f1;
  background-color: #4fabd2;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
}

.logbut:hover {
  background-color: #317592;
  transition: 1s ease-in-out;
}
