.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submain {
  width: 80%;
  height: 80%;
}

.welcome {
  font-size: x-large;
  font-weight: 700;
}

.pgname {
  color: var(--blue-palette-intensity5);
  display: block;
  font-size: 250%;
}

.termsandconditions {
  padding: 10%;
}

.terms {
  font-size: large;
  text-align: center;
  text-transform: uppercase;
}

@media (max-height: 900px) {
  .submain {
    height: max-content;
  }
  .pgname {
    font-size: 150%;
  }
  .termsandconditions {
    padding: 5%;
  }
  .terms {
    font-size: small;
  }
}

@media (max-width: 740px) {
  .pgname {
    font-size: 150%;
  }
  .termsandconditions {
    padding: 5%;
  }
  .terms {
    font-size: small;
  }
}

.legal {
  font-weight: bold;
  cursor: pointer;
}
