.componentBut {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logbut {
  width: 80%;
  height: 2rem;
  color: var(--semi-white);
  background-color: var(--blue-palette-intensity5);
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
}

.logbut:hover {
  background-color: var(--blue-palette-intensity7);
  transition: 1s ease-in-out;
}
